<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ author }}'s app. v2.1</title>
  </head>

  <body>
    <h2>Hello {{ name }}!</h2>
	<form action="/signup" method="post">
		<input type="text" name="email"></input>
		<input type="submit" value="Signup"></input>
	</form>
    
    <!-- <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data"> -->
        <!-- <input type = "file" name = "file" /> -->
        <!-- <input type = "submit"/> -->
    <!-- </form> -->
    
    <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </form>

  </body>
</html>
