<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Narrow Jumbotron Template for Bootstrap</title>
    <!-- <title>{{ author }}'s app. v2.1</title> -->

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">  <span class="sr-only">(current)</span></a>
            <!-- </li> -->
            <!-- <li class="nav-item"> -->
              <!-- <a class="nav-link" href="#">About</a> -->
            <!-- </li> -->
            <!-- <li class="nav-item"> -->
              <!-- <a class="nav-link" href="#">Contact</a> -->
            <!-- </li> -->
          </ul>
        </nav>
        <h3 class="text-muted">Nacculator: Redcap to Nacc</h3>
      </div>
      

    
    

      <div class="jumbotron">
        <h1 class="display-3">Hello! </h1>
        <p class="lead">Please convert the .xlsx data file exported from REDCap into comma seperated values (.csv) files (but not the UTF-8 csv format) and upload your redcap file below.</p>
        <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Coming soon</a></p> -->
      </div>
      
      <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
      </form>
      
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Instructions</h4>
          <p>1. Convert the .xlsx data file exported from REDCap into comma seperated values (.csv) files (but not the UTF-8 csv format).</p>

          
        </div>

        <div class="col-lg-6">
          <h4>[Appendix] For later</h4>
          <p>Appendix 1</p>

        </div>
      </div>

      <footer class="footer">
        <p>&copy; Nacculator 2017</p>
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
